.details-people{
    margin-top: 12vh;
}
.details-people .subtitle{
    color: rgb(158, 157, 157);
    font-weight: bold;
}

.details-people ul{
    list-style-type: none;
    padding: 0px;
    display: flex;
    flex-direction: row;
}

.details-people .genres li{
    padding: 5px 10px;
    background-color: #2e102e;
}

.details-people .info li{
    margin-right: 2rem;
}

#info{
    color: rgb(158, 157, 157);
}

a{
    color: #fff !important;
}

.acting{
    margin-top: 12vh;
}
.name1{
    display: none;
}

@media only screen and (max-width: 1000px) {
    .name1 , .name2{
        font-size: 1.8rem;
    }
    .details-people ul{
        flex-wrap: wrap;
    }
    .details-people ul li{
        margin: 5px 0px;
    }
}

@media only screen and (max-width: 992px) {
    .details-people {
        max-width: 1000px !important;
    }
}

@media only screen and (max-width: 768px) {
    .name1{
        display: block;
    }
    .name2{
        display: none;
    }
}