.sec-details{
    position: relative;
    width: 100%;
    height: 100vh;
}

.sec-details::after{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background-color: #622663d1 ;
    width: 100%;
    height: 100vh;
}

.details{
    position: absolute;
    z-index: 10;
}

.details img{
    /* width: 22vw; */
    height: 80vh;
}

.details .subtitle{
    color: rgb(158, 157, 157);
    font-weight: bold;
}

.details ul{
    list-style-type: none;
    padding: 0px;
    display: flex;
    flex-direction: row;
}

.details .genres li{
    padding: 5px 10px;
    background-color: #2e102e;
}

.details .info li{
    margin-right: 2rem;
}

#info{
    color: rgb(158, 157, 157);
}

/* Progress */
.details .rating{
    background-color: #2e102e;
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.details .rating .progres {
    margin: 5px;
}

.details .rating .rate{
    color: #fff;
    font-size: 1.2rem !important;
}

.details .rating .css-1rn30mb-MuiCircularProgress-root {
    color: #622663 !important;
    width: 65px !important;
    height: 65px !important;
}

/* cast */

.opacity-layer {
    width: 100%;
    height: 250px;
    background: linear-gradient(180deg,#62266300 0%,#622663 90%);
    /* position: absolute;
    bottom: 0;
    left: 0; */
}
.cast{
    margin-left: 12%;
}
.cast .card {
    background-color: #ffffff00 !important;
    border: none !important;
    color: #fff !important;
    border-radius: 20px;
}

.cast .card img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    object-fit: cover;
}

.cast .card img:hover{
    opacity: 0.7;
    transition: all ease .5s;
}

.cast .card-body a{
    text-decoration: none;
    color: #fff;
}

.cast .card-body p {
    color: grey;
    font-weight: bold;
}