.select-sec{
    margin-top: 7% !important;
}

.select-sec select{
    width: 20%;
    border-radius: 20px;
    background-color: #622663;
    box-shadow: 1px 1px 15px #aa6a6a;
    border: none;
    color: #fff;
    cursor: pointer;
}

.select-sec select option{
    border-radius: 20px;
    background-color: #fff;
    color: #bf38c4;
    border: none;
}

.select-sec select option:hover{
    background-color: #aa6a6a !important;
}

.form-select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e") !important;
}

a{
    text-decoration: none !important;
}