/* CSV fbd4fc,d452fa,8350ef,574ee9,a652f3,f996fb,f862fc,e176fa,606cec */
.navbar{
    position: fixed !important;
    background-color: rgba(0, 0, 0, 0.463) !important;
    backdrop-filter: blur(3px);
    width: 100%;
    top: 0;
    z-index: 100;
}

.navbar-toggler-icon{
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23ffffff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-toggler {
    border: 1px solid #fff !important;
}

.logo-text{
    background: linear-gradient(
        to right,
        #7953cd 20%,
        #fbd4fc 30%,
        #0190cd 70%,
        #764ada 80%
    ); 
	background-size: 300%;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 900;
	font-size: 2vw;
	text-transform: uppercase;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animated_text 10s ease-in-out infinite;
	-moz-animation: animated_text 10s ease-in-out infinite;
	-webkit-animation: animated_text 10s ease-in-out infinite;

}

@keyframes animated_text {
    0% { background-position: 0px 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0px 50%; }
}

.nav-link{
    color: #fff !important;
}

.nav-item{
    padding-left: 10px;
}

.collapse .nav-link:hover{
    color: #d452fa !important;
}
 
#navy ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.nav-link i{
    font-size: 15px;
}

@media only screen and (max-width: 550px) {
    .footer-sec{
        font-size: 3vw;
    }
    .logo{
        height: 7vh;
    }
}
@media only screen and (max-width: 450px) {
    .navbar{
        padding: 5vw !important;
    }
    #navbarNavDropdown ul li{
        font-size: 4vw !important;
    }
    .logo{
        height: 6vh;
    }
    .navbar-toggler{
        padding: 3px 10px !important;
    }
    .footer li{
        padding: 2px;
    }
}
